<div class="container" style="margin-top:8em;">
  <div class="row">
    <div class="card text-center col-6 offset-3">
      <div class="card-body">
        <h5 class="card-title">Registrarse</h5>
        <br/>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control", :placeholder=>"Introduzca el correo electrónico" %>
          </div>
          <div class="field mb-4">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> Cantidad de caracteres mínimos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control", :placeholder=>"Introduzca la contraseña" %>
          </div>
          <div class="field mb-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control", :placeholder=>"Vuelva a escribir la contraseña" %>
          </div>
          <div class="actions">
            <%= f.submit "Registrarse", :class=>"btn btn-primary btn-lg btn-block"%>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>