<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <h4 class="alert-heading"><%= pluralize(recipe.errors.count, "error(es)") %> prohibió guardar esta receta:</h4>
        <hr>
        <p>
          <% recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :name, 'Nombre' %>
        <%= form.text_field :name, :class=>"form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :description, 'Descripción' %>
        <%= form.text_field :description, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :category_id, 'Categoría' %>
        <%= select_tag 'recipe[category_id]', options_from_collection_for_select(Category.all, :id, :name),:class => "form-control input-sm selectpicker border border-secondary", data: { 'live-search' => 'true' }, title:"Ninguno seleccionado", :id=>"recipe_category_id" %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :instructions, 'Preparación:' %>
        <%= form.text_field :instructions, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.label :nutrition_facts, 'Valor nutricional:' %>
        <%= form.text_field :nutrition_facts, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Guardar cambios", :class=>"btn btn-primary state_buttom" %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('.selectpicker').selectpicker('refresh');
    });
</script>
<style>
.bootstrap-select .btn {
  background-color: #e0e0e0;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bootstrap-select .dropdown-menu {
  margin: 15px 0 0;
}
select::-ms-expand {
  display: none;
}
</style>