<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        <button type="button" class="btn btn-light">Recetas</button>
      </div>
      <div>
      </div>
      <%= link_to 'Crear Receta', new_recipe_path, :class=> "btn btn-primary" %>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="offset-8 col-2"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-body">
          
          <table id="table_id" class="table table-striped">
            <thead>
              <tr>
                <th>Nombre de la receta</th>
                <th>Descripción</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @recipes.each do |recipe| %>
                <tr>
                  <td><%= recipe.name %></td>
                  <td><%= recipe.description %></td>
                  <td><%= link_to ('<i class="fa fa-search"></i>').html_safe, recipe %></td>
                  <td><%= link_to ('<i class="fa fa-pencil"></i>').html_safe, edit_recipe_path(recipe) %></td>
                  <td><%= link_to ('<i class="fa fa-trash"></i>').html_safe, recipe, method: :delete, data: { confirm: '¿Esta seguro de eliminar el registro?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
