<div class= "container">
<div class= "row">
<div class= "col">
<div class="card">
  <div class="card-body">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de la receta:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @recipe.description %>
</p>

<%= link_to 'Editar', edit_recipe_path(@recipe) %> |
<%= link_to 'Regresar', recipes_path %>
  
  </div>
</div>
</div>
</div>
</div>
