<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-desayunos-tab" data-toggle="pill" href="#pills-desayunos" role="tab" aria-controls="pills-profile" aria-selected="false">Desayunos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-meriendas-tab" data-toggle="pill" href="#pills-meriendas" role="tab" aria-controls="pills-contact" aria-selected="false">Meriendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-almuerzos-tab" data-toggle="pill" href="#pills-almuerzos" role="tab" aria-controls="pills-contact" aria-selected="false">Almuerzos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-cenas-tab" data-toggle="pill" href="#pills-cenas" role="tab" aria-controls="pills-contact" aria-selected="false">Cenas</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Busqueda por ..">
            </div>
          </div>
          <div class="row" id="myItems">
            <% @recipes.each do |recipe| %>
              <div class="card mb-5 col-3">
                <img src=<%= recipe.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= recipe.recipe_name %></h5>
                  <p class="card-text"><%= recipe.recipe_description %></p>
                </div>
                <%# <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul> %>
                <div class="card-body">
                  <button type="button" class="btn btn-danger my-button" id="<%= recipe.recipe_name %>" name="[<%= recipe.id %>]" data-toggle="modal" data-target="#exampleModalScrollable">Detalle</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-desayunos" role="tabpanel" aria-labelledby="pills-desayunos-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilterDesayuno" class="form-control" onkeyup="myFunctionDesayuno()" placeholder="Busqueda por ..">
            </div>
          </div>
          <div class="row d-flex justify-content-around" id="myItemsDesayuno">
            <% @desayunos.each do |desayuno| %>
                <div class="card mb-5 col-3 cardDesayuno">
                  <img src=<%= desayuno.recipe_photo %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= desayuno.recipe_name %></h5>
                    <p class="card-text"><%= desayuno.recipe_description %></p>
                  </div>
                  <%# <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul> %>
                  <div class="card-body">
                    <button type="button" class="btn btn-danger my-button-desayuno" id="<%= desayuno.recipe_name %>" name="[<%= desayuno.id %>]" data-toggle="modal" data-target="#exampleModalScrollableDesayunos">Detalle</button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-meriendas" role="tabpanel" aria-labelledby="pills-meriendas-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilterMerienda" class="form-control" onkeyup="myFunctionMerienda()" placeholder="Busqueda por ..">
            </div>
          </div>
          <div class="row d-flex justify-content-around" id="myItemsMerienda">
            <% @meriendas.each do |merienda| %>
                <div class="card mb-5 col-3 cardMerienda">
                  <img src=<%= merienda.recipe_photo %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= merienda.recipe_name %></h5>
                    <p class="card-text"><%= merienda.recipe_description %></p>
                  </div>
                  <%# <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul> %>
                  <div class="card-body">
                    <button type="button" class="btn btn-danger my-button-merienda" id="<%= merienda.recipe_name %>" name="[<%= merienda.id %>]" data-toggle="modal" data-target="#exampleModalScrollableMeriendas">Detalle</button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-almuerzos" role="tabpanel" aria-labelledby="pills-almuerzos-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilterAlmuerzo" class="form-control" onkeyup="myFunctionAlmuerzo()" placeholder="Busqueda por ..">
            </div>
          </div>
          <div class="row d-flex justify-content-around" id="myItemsAlmuerzo">
            <% @almuerzos.each do |almuerzo| %>
                <div class="card mb-5 col-3 cardAlmuerzo">
                  <img src=<%= almuerzo.recipe_photo %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= almuerzo.recipe_name %></h5>
                    <p class="card-text"><%= almuerzo.recipe_description %></p>
                  </div>
                  <%# <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul> %>
                  <div class="card-body">
                    <button type="button" class="btn btn-danger my-button-almuerzo" id="<%= almuerzo.recipe_name %>" name="[<%= almuerzo.id %>]" data-toggle="modal" data-target="#exampleModalScrollableAlmuerzos">Detalle</button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-cenas" role="tabpanel" aria-labelledby="pills-cenas-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilterCena" class="form-control" onkeyup="myFunctionCena()" placeholder="Busqueda por ..">
            </div>
          </div>
          <div class="row d-flex justify-content-around" id="myItemsCena">
            <% @cenas.each do |cena| %>
                <div class="card mb-5 col-3 cardCena">
                  <img src=<%= cena.recipe_photo %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= cena.recipe_name %></h5>
                   <p class="card-text"><%= cena.recipe_description %></p>
                  </div>
                  <%# <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul> %>
                  <div class="card-body">
                    <button type="button" class="btn btn-danger my-button-cena" id="<%= cena.recipe_name %>" name="[<%= cena.id %>]" data-toggle="modal" data-target="#exampleModalScrollableCenas">Detalle</button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Todos -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Desayunos -->
<div class="modal fade" id="exampleModalScrollableDesayunos" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleDesayunos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitleDesayunos">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Meriendas -->
<div class="modal fade" id="exampleModalScrollableMeriendas" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleMeriendas" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitleMeriendas">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Almuerzos -->
<div class="modal fade" id="exampleModalScrollableAlmuerzos" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleAlmuerzos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitleAlmuerzos">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cenas -->
<div class="modal fade" id="exampleModalScrollableCenas" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleCenas" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitleCenas">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
console.log(<%= raw @recipes_dtotal.to_json %>);
  function format ( d ) {
     return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
         '<tr>'+
             '<td>Preparación:</td>'+
             '<td>'+d.recipe_description+'</td>'+
             '<td><img src='+d.recipe_photo+'/></td>'+
         '</tr>'+
     '</table>';
  }
  
  function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
  
        } else {
            cards[i].style.display = "none";
        }
    }
  }

  function myFunctionDesayuno() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilterDesayuno");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItemsDesayuno");
    cards = cardContainer.getElementsByClassName("cardDesayuno");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
  
        } else {
            cards[i].style.display = "none";
        }
    }
  }

  function myFunctionMerienda() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilterMerienda");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItemsMerienda");
    cards = cardContainer.getElementsByClassName("cardMerienda");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
  
        } else {
            cards[i].style.display = "none";
        }
    }
  }

  function myFunctionAlmuerzo() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilterAlmuerzo");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItemsAlmuerzo");
    cards = cardContainer.getElementsByClassName("cardAlmuerzo");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
  
        } else {
            cards[i].style.display = "none";
        }
    }
  }

  function myFunctionCena() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilterCena");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItemsCena");
    cards = cardContainer.getElementsByClassName("cardCena");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
  
        } else {
            cards[i].style.display = "none";
        }
    }
  }


  $(document).ready(function() {

    $('.my-button').bind('click', function(event) {
        event.preventDefault();
        let valuesIds = JSON.parse(event.target.name);
        $.ajax({
          type: "POST",
          url: '/template_modal_all',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          contentType: 'application/json',
          dataType: 'json',
          data : JSON.stringify({ "valuesIds" : valuesIds}),
          cache: true,
          success: function(response) {
            console.log(response)
             let htmlTemplateTitle = `<div class="demo-container">
              <p>${response.recipes[0].name}</p>
          </div>`;
            let htmlTemplate = `<div class="demo-container">
              <p>Receta: ${response.recipes[0].name}</em></p>
              <p>Descripción: ${response.recipes[0].description}</em></p>
              <p>Ingredientes: ${response.recipes[0].ingredients}</em></p>
              <p>Instrucciones: ${response.recipes[0].instructions}</em></p>
              <p>Informacion nutricional: ${response.recipes[0].nutrition_facts}</em></p>
          </div>`;
          
            $('#exampleModalScrollable').find('.modal-title').html(htmlTemplateTitle)
            $('#exampleModalScrollable').find('.modal-body').html(htmlTemplate)
          }
        })
      });

      $('.my-button-desayuno').bind('click', function(event) {
        event.preventDefault();
        let valuesIds = JSON.parse(event.target.name);
        $.ajax({
          type: "POST",
          url: '/template_modal_desayuno',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          contentType: 'application/json',
          dataType: 'json',
          data : JSON.stringify({ "valuesIds" : valuesIds}),
          cache: true,
          success: function(response) {
            console.log(response)
             let htmlTemplateTitle = `<div class="demo-container">
              <p>${response.recipes[0].name}</p>
          </div>`;
            let htmlTemplate = `<div class="demo-container">
              <p>Receta: ${response.recipes[0].name}</em></p>
              <p>Descripción: ${response.recipes[0].description}</em></p>
              <p>Ingredientes: ${response.recipes[0].ingredients}</em></p>
              <p>Instrucciones: ${response.recipes[0].instructions}</em></p>
              <p>Informacion nutricional: ${response.recipes[0].nutrition_facts}</em></p>
          </div>`;
          
            $('#exampleModalScrollableDesayunos').find('.modal-title').html(htmlTemplateTitle)
            $('#exampleModalScrollableDesayunos').find('.modal-body').html(htmlTemplate)
          }
        })
      });

      $('.my-button-merienda').bind('click', function(event) {
        event.preventDefault();
        let valuesIds = JSON.parse(event.target.name);
        $.ajax({
          type: "POST",
          url: '/template_modal_merienda',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          contentType: 'application/json',
          dataType: 'json',
          data : JSON.stringify({ "valuesIds" : valuesIds}),
          cache: true,
          success: function(response) {
            console.log(response)
             let htmlTemplateTitle = `<div class="demo-container">
              <p>${response.recipes[0].name}</p>
          </div>`;
            let htmlTemplate = `<div class="demo-container">
              <p>Receta: ${response.recipes[0].name}</em></p>
              <p>Descripción: ${response.recipes[0].description}</em></p>
              <p>Ingredientes: ${response.recipes[0].ingredients}</em></p>
              <p>Instrucciones: ${response.recipes[0].instructions}</em></p>
              <p>Informacion nutricional: ${response.recipes[0].nutrition_facts}</em></p>
          </div>`;
          
            $('#exampleModalScrollableMeriendas').find('.modal-title').html(htmlTemplateTitle)
            $('#exampleModalScrollableMeriendas').find('.modal-body').html(htmlTemplate)
          }
        })
      });

      $('.my-button-almuerzo').bind('click', function(event) {
        event.preventDefault();
        let valuesIds = JSON.parse(event.target.name);
        $.ajax({
          type: "POST",
          url: '/template_modal_almuerzo',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          contentType: 'application/json',
          dataType: 'json',
          data : JSON.stringify({ "valuesIds" : valuesIds}),
          cache: true,
          success: function(response) {
            console.log(response)
             let htmlTemplateTitle = `<div class="demo-container">
              <p>${response.recipes[0].name}</p>
          </div>`;
            let htmlTemplate = `<div class="demo-container">
              <p>Receta: ${response.recipes[0].name}</em></p>
              <p>Descripción: ${response.recipes[0].description}</em></p>
              <p>Ingredientes: ${response.recipes[0].ingredients}</em></p>
              <p>Instrucciones: ${response.recipes[0].instructions}</em></p>
              <p>Informacion nutricional: ${response.recipes[0].nutrition_facts}</em></p>
          </div>`;
          
            $('#exampleModalScrollableAlmuerzos').find('.modal-title').html(htmlTemplateTitle)
            $('#exampleModalScrollableAlmuerzos').find('.modal-body').html(htmlTemplate)
          }
        })
      });

      $('.my-button-cena').bind('click', function(event) {
        event.preventDefault();
        let valuesIds = JSON.parse(event.target.name);
        $.ajax({
          type: "POST",
          url: '/template_modal_cena',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          contentType: 'application/json',
          dataType: 'json',
          data : JSON.stringify({ "valuesIds" : valuesIds}),
          cache: true,
          success: function(response) {
            console.log(response)
             let htmlTemplateTitle = `<div class="demo-container">
              <p>${response.recipes[0].name}</p>
          </div>`;
            let htmlTemplate = `<div class="demo-container">
              <p>Receta: ${response.recipes[0].name}</em></p>
              <p>Descripción: ${response.recipes[0].description}</em></p>
              <p>Ingredientes: ${response.recipes[0].ingredients}</em></p>
              <p>Instrucciones: ${response.recipes[0].instructions}</em></p>
              <p>Informacion nutricional: ${response.recipes[0].nutrition_facts}</em></p>
          </div>`;
          
            $('#exampleModalScrollableCenas').find('.modal-title').html(htmlTemplateTitle)
            $('#exampleModalScrollableCenas').find('.modal-body').html(htmlTemplate)
          }
        })
      });

    
    let dataDesayuno = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "desayuno");
    let dataMerienda = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "merienda");
    let dataAlmuerzo = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "almuerzo");
    let dataCena = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "cena");
    console.log(dataCena);
  
     var tableDesayunos = $('#desayunos').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataDesayuno,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     var tableMeriendas = $('#meriendas').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataMerienda,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
      var tableAlmuerzos = $('#almuerzos').DataTable({
        "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataAlmuerzo,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     var tableCenas = $('#cenas').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataCena,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     $('#desayunos tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableDesayunos.row( tr );
  
         if(row.child.isShown()){
             row.child.hide();
             tr.removeClass('shown');
         } else {
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     $('#meriendas tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableMeriendas.row( tr );
  
         if(row.child.isShown()){
             row.child.hide();
             tr.removeClass('shown');
         } else {
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     $('#almuerzos tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableAlmuerzos.row( tr );
  
         if(row.child.isShown()){
             row.child.hide();
             tr.removeClass('shown');
         } else {
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     $('#cenas tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableCenas.row( tr );
  
         if(row.child.isShown()){
             row.child.hide();
             tr.removeClass('shown');
         } else {
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     $('#btn-show-all-children-desayunos').on('click', function(){
         tableDesayunos.rows().every(function(){
             if(!this.child.isShown()){
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     $('#btn-show-all-children-meriendas').on('click', function(){
         tableMeriendas.rows().every(function(){
             if(!this.child.isShown()){
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     $('#btn-show-all-children-almuerzos').on('click', function(){
         tableAlmuerzos.rows().every(function(){
             if(!this.child.isShown()){
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     $('#btn-show-all-children-cenas').on('click', function(){
         tableCenas.rows().every(function(){
             if(!this.child.isShown()){
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-desayunos').on('click', function(){
         tableDesayunos.rows().every(function(){
             if(this.child.isShown()){
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-meriendas').on('click', function(){
         tableMeriendas.rows().every(function(){
             if(this.child.isShown()){
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-almuerzos').on('click', function(){
         tableAlmuerzos.rows().every(function(){
             if(this.child.isShown()){
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-cenas').on('click', function(){
         tableCenas.rows().every(function(){
             if(this.child.isShown()){
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  });
</script>
<style>
  td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
      cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
  }
  #example_filter input {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .fade {
    height: 42em !important;%
  }
</style>