<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-desayunos-tab" data-toggle="pill" href="#pills-desayunos" role="tab" aria-controls="pills-profile" aria-selected="false">Desayunos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-meriendas-tab" data-toggle="pill" href="#pills-meriendas" role="tab" aria-controls="pills-contact" aria-selected="false">Meriendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-almuerzos-tab" data-toggle="pill" href="#pills-almuerzos" role="tab" aria-controls="pills-contact" aria-selected="false">Almuerzos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-cenas-tab" data-toggle="pill" href="#pills-cenas" role="tab" aria-controls="pills-contact" aria-selected="false">Cenas</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <div class="container-fluid">
          <div class="row d-flex justify-content-around">
          <% @recipes.each do |recipe| %>
            <div class="col-3">
              <div class="card mb-5">
                <img src=<%= recipe.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= recipe.recipe_name %></h5>
                  <p class="card-text"><%= recipe.recipe_description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-desayunos" role="tabpanel" aria-labelledby="pills-desayunos-tab">
      <div class="container-fluid">
          <div class="row d-flex justify-content-around">
          <% @desayunos.each do |desayuno| %>
            <div class="col-3">
              <div class="card mb-5">
                <img src=<%= desayuno.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= desayuno.recipe_name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-meriendas" role="tabpanel" aria-labelledby="pills-meriendas-tab">
      <div class="container-fluid">
          <div class="row d-flex justify-content-around">
          <% @meriendas.each do |merienda| %>
            <div class="col-3">
              <div class="card mb-5">
                <img src=<%= merienda.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= merienda.recipe_name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-almuerzos" role="tabpanel" aria-labelledby="pills-almuerzos-tab">
      <div class="container-fluid">
          <div class="row d-flex justify-content-around">
          <% @almuerzos.each do |almuerzo| %>
            <div class="col-3">
              <div class="card mb-5">
                <img src=<%= almuerzo.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= almuerzo.recipe_name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-cenas" role="tabpanel" aria-labelledby="pills-cenas-tab">
      <div class="container-fluid">
          <div class="row d-flex justify-content-around">
          <% @cenas.each do |cena| %>
            <div class="col-3">
              <div class="card mb-5">
                <img src=<%= cena.recipe_photo %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= cena.recipe_name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formatting function for row details - modify as you need */
  function format ( d ) {
     return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
         '<tr>'+
             '<td>Preparación:</td>'+
             '<td>'+d.recipe_description+'</td>'+
             '<td><img src='+d.recipe_photo+'/></td>'+
         '</tr>'+
        //  '<tr>'+
        //      '<td>Extension number:</td>'+
        //      '<td>'+d.extn+'</td>'+
        //  '</tr>'+
        //  '<tr>'+
        //      '<td>Extra info:</td>'+
        //      '<td>And any further details here (images etc)...</td>'+
        //  '</tr>'+
     '</table>';
  }
  
  $(document).ready(function() {
    let dataDesayuno = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "desayuno");
    let dataMerienda = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "merienda");
    let dataAlmuerzo = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "almuerzo");
    let dataCena = <%= raw @recipesjoin.to_json %>.filter(category => category.category_name === "cena");
    console.log(dataCena);
  
     var tableDesayunos = $('#desayunos').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataDesayuno,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     var tableMeriendas = $('#meriendas').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataMerienda,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
      var tableAlmuerzos = $('#almuerzos').DataTable({
        "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataAlmuerzo,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     var tableCenas = $('#cenas').DataTable({
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: dataCena,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'recipe_name' },
             { 'data': 'recipe_description' },
         ],
         'order': [[1, 'asc']]
     } );
  
     // Add event listener for opening and closing details
     $('#desayunos tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableDesayunos.row( tr );
  
         if(row.child.isShown()){
             // This row is already open - close it
             row.child.hide();
             tr.removeClass('shown');
         } else {
             // Open this row
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     // Add event listener for opening and closing details
     $('#meriendas tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableMeriendas.row( tr );
  
         if(row.child.isShown()){
             // This row is already open - close it
             row.child.hide();
             tr.removeClass('shown');
         } else {
             // Open this row
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
      // Add event listener for opening and closing details
     $('#almuerzos tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableAlmuerzos.row( tr );
  
         if(row.child.isShown()){
             // This row is already open - close it
             row.child.hide();
             tr.removeClass('shown');
         } else {
             // Open this row
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     // Add event listener for opening and closing details
     $('#cenas tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = tableCenas.row( tr );
  
         if(row.child.isShown()){
             // This row is already open - close it
             row.child.hide();
             tr.removeClass('shown');
         } else {
             // Open this row
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });
  
     // Handle click on "Expand All" button
     $('#btn-show-all-children-desayunos').on('click', function(){
         // Enumerate all rows
         tableDesayunos.rows().every(function(){
             // If row has details collapsed
             if(!this.child.isShown()){
                 // Open this row
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     // Handle click on "Expand All" button
     $('#btn-show-all-children-meriendas').on('click', function(){
         // Enumerate all rows
         tableMeriendas.rows().every(function(){
             // If row has details collapsed
             if(!this.child.isShown()){
                 // Open this row
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     // Handle click on "Expand All" button
     $('#btn-show-all-children-almuerzos').on('click', function(){
         // Enumerate all rows
         tableAlmuerzos.rows().every(function(){
             // If row has details collapsed
             if(!this.child.isShown()){
                 // Open this row
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     // Handle click on "Expand All" button
     $('#btn-show-all-children-cenas').on('click', function(){
         // Enumerate all rows
         tableCenas.rows().every(function(){
             // If row has details collapsed
             if(!this.child.isShown()){
                 // Open this row
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
     // Handle click on "Collapse All" button
     $('#btn-hide-all-children-desayunos').on('click', function(){
         // Enumerate all rows
         tableDesayunos.rows().every(function(){
             // If row has details expanded
             if(this.child.isShown()){
                 // Collapse row details
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-meriendas').on('click', function(){
         // Enumerate all rows
         tableMeriendas.rows().every(function(){
             // If row has details expanded
             if(this.child.isShown()){
                 // Collapse row details
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-almuerzos').on('click', function(){
         // Enumerate all rows
         tableAlmuerzos.rows().every(function(){
             // If row has details expanded
             if(this.child.isShown()){
                 // Collapse row details
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  
     $('#btn-hide-all-children-cenas').on('click', function(){
         // Enumerate all rows
         tableCenas.rows().every(function(){
             // If row has details expanded
             if(this.child.isShown()){
                 // Collapse row details
                 this.child.hide();
                 $(this.node()).removeClass('shown');
             }
         });
     });
  });
</script>
<style>
  td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
      cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
  }
  #example_filter input {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .fade {
    height: 42em !important;%
  }
</style>