<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(category.errors.count, "error(es)") %> prohibió guardar esta categoría:</h4>
        <hr>
        <p>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </p>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :name, 'Nombre' %>
        <%= form.text_field :name, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Guardar cambios", :class=>"btn btn-primary state_buttom" %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('.selectpicker').selectpicker('refresh');
    // $('#recipe_name' && '#recipe_description' && '#recipe_category_id' && '#recipe_instructions' && '#recipe_nutrition_facts').change(function() {
    //   // $('.state_buttom').attr("disabled", false);
    // });
  
    // $("#form input").keyup(function() {
    //     var form = $(this).parents("#form");
    //     if(check) {
    //         $(".state_buttom").prop("disabled", false);
    //     }
    //     else {
    //         $(".state_buttom").prop("disabled", true);
    //     }
    });
</script>
