<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>Perfil de Usuario</h2>
          <%= form_with(model: @users, local: true) do |form| %>
            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :email, 'Correo Electrónico' %>
                  <%= form.text_field :email, :value => @user.email, :class=>"form-control", :disabled => true %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :first_name, 'Nombre' %>
                  <%= form.text_field :first_name, :value => @user.first_name, :class=>"form-control" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :last_name, 'Apellido' %>
                  <%= form.text_field :last_name, :value => @user.last_name, :class=>"form-control" %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :phone, 'Teléfono' %>
                  <%= form.text_field :phone, :value => @user.phone, :class=>"form-control" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="actions">
              <%= form.submit "Guardar cambios", :class=>"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>