<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>Perfil de Usuario</h2>
          <%= form_with(model: @users, local: true) do |form| %>
            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <%= image_tag @user.photo, :class=> "avatar mb-2"%>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="randomAvatar">Random Avatar</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :email, 'Correo Electrónico' %>
                  <%= form.text_field :email, :value => @user.email, :class=>"form-control", :disabled => true %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :first_name, 'Nombre' %>
                  <%= form.text_field :first_name, :value => @user.first_name, :class=>"form-control" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :last_name, 'Apellido' %>
                  <%= form.text_field :last_name, :value => @user.last_name, :class=>"form-control" %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :phone, 'Teléfono' %>
                  <%= form.text_field :phone, :value => @user.phone, :class=>"form-control" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-12">
                <div class="field">
                  <%= form.label 'Ingredientes a los que es alergico' %>
                  <%= select_tag  "ingredient_ids[]", options_from_collection_for_select(Ingredient.all, "id", "name", @user.ingredient_ids), title:"Ninguno seleccionado", :id => "user_ingredient_ids", 
                    multiple: true, size: '8%', class: "form-control input-sm selectpicker border border-secondary", data: { 'live-search' => 'true' } %>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-6">
                <div class="field">
                  <%= form.label 'Ayunos Intermitentes' %>
                  <%= select_tag  "int_fasting", options_for_select({"12 Horas"=> 1, "16 Horas"=> 2}, @user.int_fasting), 
                    size: '8%', class: "form-control input-sm selectpicker border border-secondary", title:"Ninguno seleccionado" %>
                </div>
              </div>
              <div class="col-6">
                <div class="field">
                  <%= form.label 'Días' %>
                  <%= select_tag  "days[]", options_for_select(["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sabado", "Domingo"], @user.days),
                    multiple: true, size: '8%', class: "form-control input-sm selectpicker border border-secondary", data: { 'live-search' => 'true' }, :include_blank => true, title:"Ninguno seleccionado" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="actions">
              <%= form.submit "Guardar cambios", :class=>"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  $(document).ready(function() {
    $('*:not(.bootstrap-select) > .selectpicker').selectpicker('refresh');
    $('#randomAvatar').click(randomAvatar);
  
    function randomAvatar() {
      let random = Math.floor(Math.random() * (49) ) + 1;
      let imageRandom = "/images/avatars/" + random + ".png"
      $.ajax({
        type: "PATCH",
        url: '/profile_photo',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        contentType: 'application/json',
        dataType: 'json',
        data : JSON.stringify({ "photo" : imageRandom }),
        cache: true, 
        success: function() {
          location.reload();
        }
      })
  
    }  
  });
</script>
<style>
  .avatar {
    width: 200px;
    height: 210px
  }
  
.bootstrap-select .btn {
  background-color: #e0e0e0;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bootstrap-select .dropdown-menu {
  margin: 15px 0 0;
}
select::-ms-expand {
  display: none;
}
</style>